@import "components/reset";
@import "components/datos";

nav {
    background: $color2;
}

section {
    background: $color2;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(231, 65, 23);
    @debug $numero1;
    @debug type-of($numero1);
    @debug $texto1;
    @debug type-of($texto1);
    background: $color2;
}