//varibales y tipos de datos
$numero1: 20;
$numero2: 70%;
$numero3: 35.5px;
$numero4: 5s;
$numero5: 24px;
$numero6: 50%;
$texto1: 'SASS';
$texto2: none;
$color1: red;
$color2: rgb(0,0,255,0.5);
$color3: #ab11cd;
$color4: hsla(116, 100%, 50%, 0.5);
$boleano: true;
$list1: 1px solid black;
$lista2: valor1, valor2, valor3;
$map: (
    valor1: 2px,
    valor2: solid,
    valor3: red 
);
$large: large;
$lista_clases: ".alert-secondary", ".alert-success";

