//varibales y tipos de datos
$numero1: 20;
$numero2: 70%;
$numero3: 35.5px;
$numero4: 5s;
$numero5: 20px;
$numero6: 50%;
$texto1: 'SASS';
$texto2: none;
$color1: red;
$color2: rgb(0,0,255,0.5);
$color3: #ab11cd;
$color4: hsla(116, 100%, 50%, 0.5);
$boleano: true;
$list1: 1px solid black;
$lista2: valor1, valor2, valor3;
$large: large;
$lista_clases: ".alert-secondary", ".alert-success";
$trescien: 300px;
$cienpx: 100px;
$quincepx: 15px;
$amarillo: yellow;
$auto: auto;
$lista3: 200px;
$lista4: 1px 2px 3px black;
$lista5: Helvetica, Arial, sans-serif;
$lista6: 1px 2px 3px green, 6px 7px 8px blue, 3px 2px 1px yellow;
$numero7: 450px;
$lista7: 10px 20px 20px red,;
$lista8: 30px 2px 2px blue,;
$typografia1: Helvetica, Arial, sans-serif;
$valores1: 20px 2px 10px;
$v1: 10.5px;
$v2: 5px;
$v3: 12px;
$v4: 1000px;
$eq1: 450px + $v1;
$lista9: h1,h2,h3,h4,h5,h6;
$colores: blue, red, green, yellow, peru, orange;
$valores2: 100px, 200px, 120px, 300px, 340px, 150px;


/* datos del tipo map*/
$map1: (
    valor1: 2px,
    valor2: solid,
    valor3: red 
);

$map2: (
    tamano1: 20px,
    tamano2: 15px,
    color1: red 
);

$puntocorte: (
    m: 640px,
    l: 1024px
);





