@mixin boton ($tamano){
    display: block;
    padding: 15px;
    margin: auto;
    color: $color3;
    width: $numero2;
    font-size: $numero3;

    &:hover {
        background: $color2;
    }

    @media screen and (max-width: $tamano){
        background: $color4;
    }
}

@mixin efecto ($propiedad){
    width: 120px;
    height: 120px;
    background:$color4;
    -webkit-transition: width $propiedad;
    transition: width $propiedad;

    &:hover {
        width: $numero2;
    }

    @media screen and (max-width: 596px){
        background: $color1;
    }
}

.btn {
    @include boton (600px);
}

.box { 
      @include efecto($numero4); 
}
