/*Los Nesting o Inheritance, son los anidamientos que se pueden usar entre las etiquetas para ir agregando los estilos al HTML.
Por lo tanto, en SASS, se debe seguir una secuencia del llamado de las etiquetas una dentro de la otra para lograr el anidamiento y la posterior herencia de las etiquetas.

& se utiliza para nombrar y activar las Pseudo-clases de CSS.
*/

nav {
    ul {
        list-style: none;   
    }
    li {
        list-style-position: outside;
        display: inline-block;
        a {
            text-decoration: none;
            display: block;
            padding: 6px 12px;

            &:hover {
                background-color: $color4;
            }
        }
    }
}

/*Se puede anidar selectores sin importar el tipo, es decir, pueden ser clases o id. Igualmente, se pueden modificar las clases predefinidas por bootstrap*/
.secion_tercera {
    margin-top: 20px;

    .alert-primary {
        text-transform: uppercase;
    } 
}


/*Las extensiones seran partes del codigo que no seran compiladas directamente sobre la salida en CSS. Para indicar que una parte del codigo sera una extension, se debe utilizar el sombolo %+nombre_extension, pero al utilizar la instruccion de @extend %nombre_extension, estas seran llamadas e incorporadas como parte del codigo en CSS al selector seleccionado*/

%textos {
    font-size: $large;
    text-align: center;
}

.alert-secondary, .alert-success {
    @extend %textos;
    font-weight: 500;
}