@for $i from 1 through 10 {
    .cols-#{$i * 5} {
        width: $i * 5%;
    }
}

@media screen and (max-width: map-get($puntocorte,m)){
    @for $i from 1 through 10 {
        .cols-m-#{$i * 5} {
            width: $i * 5%;
        }
    }        
}

@media screen and (max-width: map-get($puntocorte,l)){
    @for $i from 1 through 10 {
        .cols-l-#{$i * 5} {
            width: $i * 5%;
        }
    }        
}

@if map-get($puntocorte,m) == 6440px {
    .seccion_siete_p {
        span {
            font-size: $v1;
            content: "verdadero para 640px";
        }
    }
} @else if map-get($puntocorte,l) != 640px {
    .seccion_siete_p {
        span {
            font-size: $v1+10px;
            content: "verdadero para 1024px";
        }
    }
} @else {
    .seccion_siete_p {
        span {
            font-size: $v1+$v3+1px;
            color: $color4;
            content: "falso para if";
        }
    }
}

$cantidad: length($lista9);

@for $i from 1 through $cantidad {
    #{nth($lista9,$i)} {
        color: nth($colores,$i);
        font-weight: nth($valores2,$i);
    }
}

@each $clases in $secciones {
    $ecua2: 20px+random(10);
    .#{$clases} {
        font-size: $ecua2;
    }
}

@each $var,$font in (h1, 20px),
                    (h2, 30px),
                    (h3, 25px) 
{
    #{$var}{
        font-size: $font;
    }
}

@each $var1,$var2 in $map3 {
    .#{$var1}{
        font-weight: $var2;
    }
}

@while $index <=3 {
    .section_diez_p#{$index} {
        font-size: 16px;
        font-weight: nth($valores3,$index);
    }
    $index: $index + 1;
}

